<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <div class="navbar">
    <div class="navbar-logo">
      <span class="logo-text">UHI (Unified Health Interface)</span>
    </div>
  </div>
  <div class="login-container">
    <h2>Login</h2>
    <form id="loginForm">
      <input type="text" id="aadharNumber" placeholder="Enter Aadhar Number">
      <button type="submit">Login</button>
    </form>
    <p id="errorText" class="error-message"></p>
  </div>
  <div class="footer">
    <p>&copy; 2023 Unified Health Interface. All rights reserved.</p>
  </div>
 
  <script src="javascripts/script.js"></script>

</body>
</html>
